h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

a, .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #5567A4; 
}

a:hover, .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #777; 
}



.bestSellers {
    background-color: #F2F2F2; 
}

.container, .award-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main, .bestSellers, .awards, .products-text, .awardTitle {
    text-align: center;
}

.awardCardMain {
    width: 100px;
}

.nav-wrapper {
    max-height: 100px;
}

.hide-nav {
  height:0;
}


.col {
    text-align: center;
    vertical-align: middle;
}

/*#email {
    background-color: white;
}*/

.input-field {
    margin-top: 0;
}

.input-field .btn {
    /*padding-right: 5px;*/
    font-size: 10px;
    /*padding: 0;*/
    max-height: 25px;
}

.sign-up-here {
    margin-bottom: 0;
}

#email {
    width: 50%;
    height: 1rem;
}

i.right {
    margin-left: 0px;
    font-size: 15px;
}

.btn i {
    line-height: normal;
}

.award {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
}

.awardMain {
    width: 100px;
    height: 100px;
}

.award .btn {
    display: none;
    position: relative;
}

.award:hover {
    background-color: lightgray;
    opacity: .5;
}

.award:hover .btn {
    display: block;
    position:absolute;
    background-color: #8674ff;
}

.award-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.testimonials {
    /*width: 95%;*/
    /*margin: 3em auto;*/
    margin-left: 10%;
    margin-right: 10%;
}

.grid {
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.grid h6 {
    float: right;
    font-weight: bold;
}

.grid h5 {
    font-style: italic;
}

.grid-item {
    /*width: 300px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    margin: 10px;*/
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.navbar-fixed {
    height: 100px;
}

.dropdown-content.active {
    
    /*width: 100% !important;
    left: 0 !important;*/
    display: flex;
    flex-wrap: wrap;
}

.nav-children {
    width: 200px;
}

nav .brand-logo img {
    padding: 10px;
    height: 75px;
    width: auto;
}

.contact-form{
    width: 50%;
}

.collapsible{
    width:100%;
}


#sidenav-overlay {
position: relative;
}
.product-image{
    height:191px;

}

.card {
    margin: 20px;
    width: 350px;
}
.flex-row {
    display: flex;
    flex-wrap: wrap; /* wrap columns to next line if needed */
}

.flex-column {
    flex-grow: 1;
    flex-basis: 25%; /* columns take up whole line */
    padding: 0 0.25em;
}
.headerBackground{
    background: url("http://us.escents.ca/app/uploads/2016/03/Escents-Aroma-Diffusers.jpg") top center no-repeat; 
    background-size: cover; 
}




@media only screen and (min-width: 400px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}


@media only screen and (min-width: 700px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


@media only screen and (min-width: 900px) {
    .grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


@media only screen and (min-width: 1100px) {
    .grid {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}


@media only screen and (min-width: 1280px) {
    .testimonials {
        width: 1260px;
    }
}
