h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

a, .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #5567A4; 
}

a:hover, .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #777; 
}

.products {
    width: 40%;
    height: 40%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bestSellers {
    background-color: #F2F2F2; 
    
}

.award-list, .award-list-main, .bestSellers-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.award-list-main {
    width: 75%;
    margin: 0 auto;

}

.main, .bestSellers, .awards, .awardTitle {
    text-align: center;
}

.awardCardMain {
    width: 100px;
}

.nav-wrapper {
    max-height: 100px;
}

.hide-nav {
  height:0;
}


.col {
    text-align: center;
    vertical-align: middle;
}

/*#email {
    background-color: white;
}*/

.input-field {
    margin-top: 0;
}

.input-field .btn {
    /*padding-right: 5px;*/
    font-size: 10px;
    /*padding: 0;*/
    max-height: 25px;
}

.sign-up-here {
    margin-bottom: 0;
}

#email {
    width: 50%;
    height: 1rem;
}

i.right {
    margin-left: 0px;
    font-size: 15px;
}

.btn i {
    line-height: normal;
}

.award {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
}

.awardMain {
    width: 100px;
    height: 100px;
}

.award .btn {
    display: none;
    position: relative;
}

.award:hover {
    background-color: lightgray;
    opacity: .5;
}

.award:hover .btn {
    display: block;
    position:absolute;
    background-color: #8674ff;
}

.award-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.testimonials {
    /*width: 95%;*/
    /*margin: 3em auto;*/
    margin-left: 10%;
    margin-right: 10%;
}

.grid {
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.grid h6 {
    float: right;
    font-weight: bold;
}

.grid h5 {
    font-style: italic;
}

.grid-item {
    /*width: 300px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    margin: 10px;*/
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.navbar-fixed {
    height: 100px;
}

.dropdown-content.active {
    
    /*width: 100% !important;
    left: 0 !important;*/
    display: flex;
    flex-wrap: wrap;
}

.nav-children {
    width: 200px;
}

nav .brand-logo img {
    padding: 10px;
    height: 75px;
    width: auto;
}

.contact-form{
    width: 50%;
}

.collapsible{
    width:100%;
}


#sidenav-overlay {
position: relative;
}

.parallax-container {
    height: 800px;
}


@media only screen and (min-width: 601px) {
    .row, .col, .m7 {
        width: 50% !important;
    }
}



@media only screen and (min-width: 400px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}


@media only screen and (min-width: 700px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


@media only screen and (min-width: 900px) {
    .grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


@media only screen and (min-width: 1100px) {
    .grid {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}


@media only screen and (min-width: 1280px) {
    .testimonials {
        width: 1260px;
    }
}















/* general flex row and column classes */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.flex-col {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 0.5rem; }

@media (min-width: 768px) {
  .flex-col-sm-25 {
    flex-basis: 25%; }
  .flex-col-sm-50 {
    flex-basis: 50%; } }

@media (min-width: 992px) {
  .flex-col-md-25 {
    flex-basis: 25%; }
  .flex-col-md-50 {
    flex-basis: 50%; } }

@media (min-width: 1200px) {
  .flex-col-lg-25 {
    flex-basis: 25%; }
  .flex-col-lg-50 {
    flex-basis: 50%; } }

/*
recommended method for setting box-sizing to border-box
https://css-tricks.com/box-sizing/
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.43;
  background-color: #F8F8F8; }

h1, h2, h3, h4 {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h1 {
  font-weight: 100; }

h2, h3, h4 {
  font-weight: 300; }

h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-variant: small-caps; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

section {
  padding: 2em 0; }

section:nth-of-type(even) {
  background-color: #ebebeb; }

header {
  background-image: linear-gradient(to bottom, #391d18, #814236);
  color: #FFF;
  padding: 1rem 0; }
  header .order-icon-button {
    float: right; }
  header .order-icon-button i {
    color: #dfdfdf;
    font-size: 2rem; }
  header .order-button {
    display: none; }

@media (min-width: 992px) {
  header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #000; }
    header h1 {
      font-size: 80px;
      padding-top: 150px; }
    header .tag {
      font-size: 20px;
      max-width: 50%; }
    header .order-button {
      display: inline-block; }
    header .order-icon-button {
      display: none; } }

@media (min-width: 1200px) {
  header h1 {
    font-size: 100px; }
  header .tag {
    font-size: 30px; } }

footer {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #391d18;
  color: #EEE;
  font-size: 80%; }

footer a,
footer a:link,
footer a:hover,
footer a:visited {
  color: #AAA;
  text-decoration: none; }

footer .contact-links {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    footer .contact-links {
      text-align: right; } }

/* space between contact links */
footer .contact-link {
  margin-right: 0.5rem; }

footer .contact-link:last-of-type {
  margin-right: 0; }

.img-responsive {
  width: 100%; }

.align-middle {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.large-text {
  font-size: 30px; }
  @media (min-width: 768px) {
    .large-text {
      font-size: 40px; } }

/* 
general container class
becomes fixed-width on wider screens 
*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.button {
  border: 1px solid #acacac;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #dfdfdf;
  color: #000;
  transition: background-color 0.5s; }

.button:hover {
  background-color: #c5c5c5; }

.button-dark {
  border-color: #391d18;
  background-color: #814236;
  color: #FFF; }

.button-dark:hover {
  background-color: #5d3027; }

/* reusable card classes */
.card {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  height: 100%;
  background-color: #FFF; }

.card-image {
  background-size: cover;
  background-position: center;
  border-radius: 3px 3px 0 0;
  height: 150px; }

.card-content {
  padding: 1rem; }

.feature svg {
  fill: #814236;
  width: 50px;
  margin-bottom: 0.5rem;
  float: left; }

.feature > :not(svg) {
  margin-left: 60px; }

@media (min-width: 992px) {
  .feature {
    text-align: center; }
  .feature svg {
    float: none; }
  .feature > :not(svg) {
    margin-left: inherit; } }

.image-note-taking {
  background-image: url(../img/note-taking.jpg); }

.image-art {
  background-image: url(../img/art.jpg); }

.image-drafting {
  background-image: url(../img/drafting.jpg); }

.image-coloring {
  background-image: url(../img/coloring.jpg); }

.testimonial img {
  float: left;
  border-radius: 50%; }

.testimonial > :not(img) {
  margin-left: 100px; }

.testimonial .title {
  font-size: 80%;
  color: #999; }